<div class="row top-menu">

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
				<a href="{{url_for('showTeams')}}" class ="navbar-brand" ><span class="fas fa-futbol" aria-hidden="true"></span> Show All Teams</a>
			</div>
			<div class="collapse navbar-collapse ziyad" id="bs-nav-demo">
				<!-- <ul class="nav navbar-nav">
					<li><a href="#">about</a></li>
					<li><a href="#">contact us</a></li>
				</ul> -->
				<ul class="nav navbar-nav navbar-right">
					{%if 'username' not in session %}
			<li><a href="{{url_for('showLogin')}}"> Login <span class="far fa-user" aria-hidden="true"></span></a></li>
			{% else %}
			<li><a href="{{url_for('disconnect')}}"> Logout <span class="fas fa-sign-out-alt" aria-hidden="true"></span></a></li>
			{% endif %}
					<!-- <li><a href="#">Sing Up</a></li>
					<li><a href="#">Login</a></li> -->

				</ul>
			</div>
			</div>
		</nav>
</div>
